<%- include("partials/header") %>


<h1>HOME</h1>
<p> <%= homeStartingContent %> </p>


<%  posts.forEach(function(post){ %>
  <div>
    <h3 class = "postTitle"> <%= post.title %> </h3>
    <p> <%= post.content %> </p>
  </div>

<% }) %>

<%- include("partials/footer") %>
